* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;
  font-family: "Baloo 2", sans-serif;
  color: #212529;
  background: url(assets/wave-8.svg) no-repeat center;
  background-size: cover;
}
.header {
  background-color: white;
  width: 100%;
  height: 4.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #04402e;
}
.branding-icon {
  width: 3.2rem;
  transform: translateY(-0.05rem);
  fill: #04402e;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  font-size: 1.2rem;
}
.header h1 {
  font-size: 3rem;
}
.header .nav .navItem:any-link,
.header .nav .navItem:visited {
  color: black;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.header .nav .navItem:hover {
  color: #087f5b;
  cursor: pointer;
  transform: scale(1.05);
}
#section-hero .background {
  width: 100%;
  height: 40rem;
}
#section-hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  gap: 1.6rem;
}
#section-hero .content h2 {
  margin-top: 3.2rem;
  font-size: 8rem;
  color: #02261b;
}
#section-hero .content p {
  font-size: 1.4rem;
  width: 30rem;
}
.btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.key {
  color: #02261b;
  font-weight: 900;
}
#section-typingArea .content {
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-typingArea h2,
#section-about h2,
.footer h2 {
  font-size: 3.6rem;
  font-weight: bolder;
}
#section-typingArea p,
#section-about p {
  font-size: 1.2rem;
}
#section-typingArea #text-display {
  font-size: 20px;
  width: 95%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.current {
  background: #dcdcdc;
}
#section-typingArea #text-input {
  width: 95%;
  height: 100px;
  font-size: 18px;
  resize: none;
  margin: 20px auto;
}
#results {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.6rem;
  align-items: stretch;
}
#start-btn {
  margin-bottom: 1.6rem;
  transition: transform 0.15s ease;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ced4da;
  color: #ced4da;
  align-self: center;
}
#start-btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.adj {
  width: 15rem;
}

#leaderboard {
  font-size: 1.2rem;
  color: #ced4da;
  border-radius: 10px;
  padding: 20px;
}
#leaderboard h2 {
  font-size: 3.2rem;
}
#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}
#leaderboard th,
#leaderboard td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}
#leaderboard th {
  background: #f0f0f000;
}
#section-about {
  padding: 0.8rem 1.6rem;
}
.developer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer-info img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-right: 8rem;
  border: 2px solid #ced4da;
  transition: all 0.2s ease;
}
.developer-info img:hover {
  transform: scale(1.03) translateY(-0.3rem);
  border: 4px solid #ced4da;
  cursor: pointer;
}
.developer-info .developer-text {
  width: 60rem;
}
.footer {
  height: 4rem;
  width: 100%;
  background-color: #02261b;
}
.footer h2 {
  font-size: 1.8rem;
  color: rgba(132, 191, 173, 0.3);
}
.footer .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .socials {
  display: flex;
  gap: 2.4rem;
}
.footer .socials .socials-icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  fill: rgb(40, 40, 40);
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateY(0.3rem);
  transition: transform 0.2s ease;
}
.footer .socials .socials-icon:hover {
  transform: scale(1.01);
}
#section-about p,
#section-about h2 {
  color: #ced4da;
}
#section-about .key {
  color: #e9ecef;
}
.trademark p {
  font-size: 1.2rem;
  color: rgba(132, 191, 173, 0.3);
}
